body {
    background-color: #F1FDF1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("/public/assets/background.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-card {
    height: 50%;
    width: 60%;
    position: absolute;
    z-index: -2;
    padding: 5%;
    gap: 10%;
    background-color: #F1FDF1;
    opacity: 60%;
    border-radius: 12px;
}

.secao {
    height: 100vh;
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #264a22;
    gap: 2.5vw;
    
}

.titulo {
    font-family: 'Cinzel';
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 3vw;
    color: #203f1d;
}

.conteudo {
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.pagina-de-posts, .pagina-de-usuarios {
    font-family: 'Roboto';
    font-weight: 400;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 27vw;
    height: 15vw;
    color: #264a22;
    background-color: transparent;
    border: solid 3px #31692a;
    font-size: 2vw;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.2s ease;

    #icone-posts {
        filter: brightness(150%);
        max-width: 50%;
        max-height: 50%;
    }
    #icone-usuarios {
        filter: brightness(150%);
        max-width: 50%;
        max-height: 50%;
    }
    
}

.bottom-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.home {
    width: 4vw;
    height: 4vw;
    color: #264a22;
    background-color: transparent;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 0.2vw;
    transition: transform 0.3s ease, background-color 0.2s ease;
    border: transparent;
    #icone-home {
        filter: brightness(150%);
        max-width: 100%;
        max-height: 100%;
    }
}

.logout {
    font-family: 'Roboto';
    font-weight: 400;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 12vw;
    height: 3vw;
    color: #264a22;
    background-color: transparent;
    border: solid 3px #31692a;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 0.2vw;
    transition: transform 0.3s ease, background-color 0.2s ease;

    #icone-logout {
        filter: brightness(150%);
        max-width: 100%;
        max-height: 100%;
    }
}

.home:hover {
    transform: scale(1.5);
}

.pagina-de-posts:hover, .pagina-de-usuarios:hover, .logout:hover {
    transform: scale(1.1);
    background-color: #d7d7d7;
}

.pagina-de-posts:active, .pagina-de-usuarios:active, .logout:active {
    transform: scale(0.95);
    background-color: #d7d7d7;
}

/* Porte para CELULAR*/
@media (max-width: 768px) {
    .secao {
        gap: 5vh;
    }
    .conteudo {
        flex-direction: column;
        gap: 3vh;
    }
    .titulo {
        font-size: 8.5vw;
    }
    .pagina-de-posts, .pagina-de-usuarios {
        font-size: 6vw;
        width: 45vw;
        height: 45vw;
    }
    .bottom-buttons {
        gap: 5vw;
    }
    .logout {
        font-size: 3vw;
        width: 25vw;
        height: 5vh;
    }
    .home {
        width: 10vw;
        height: 10vh;
    }
    .dashboard-card {
        height: 90vh;
        width: 70%;
    }
}