* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/* Hero Section*/
.hero-section {
    background-image: url(/public/assets/backgroundMitologia1.jpg);
    background-size: cover;
    background-position: center;
    text-align: left;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20% 10%;
  }

.headline {
    max-height: auto;
    font-family: 'Junge', serif;
    text-align: center;
    transition: transform 0.3s ease;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    #headlineTitulo1 {
        font-size: 2.5vw;
    }
    #headlineTitulo2 {
        font-size: 4.5vw;
    }
    #headlineTitulo3 {
        font-size: 5vw;
    }
    #headlineTitulo4 {
        font-size: 1.5vw;
    }
}

.headline:hover
{
    transform: scale(1.2);
}

/*Titulo de Destaques*/
.destaques{
    font-family: 'Junge', serif;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    text-align: center;
}

/*CARROSSEL*/
/* personalizacao dos slides */
.carrosselDeDestaques {
    margin: 0 auto;
    overflow: hidden;
    width: 35vw;
    height: 40vh;
    box-shadow: inset 0px 0px 100px rgba(0,0,20,1);
}
.slides {
    width: 400%;
    height: 40vh;
    display: flex;
}
.slides input {
    display: none;
}
.slide, .ativo {
    width: 25%;
    position: relative;
}
.slide img {
    width: 35vw;
}

/* navegacao manual */
.navegacao-manual {
    position: absolute;
    width: 35vw;
    margin-top: -2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-manual {
    border: 0.10vw solid white;
    padding: 0.35vw;
    border-radius: 2vw;
    cursor: pointer;
    transition: 0.5s;
}
.btn-manual:not(:last-child) {
    margin-right: 1vw;
}
.btn-manual:hover {
    background-color: white;
}

/* navegacao auto */
.navegacao-auto div {
    border: 0.10vw solid white;
    padding: 0.35vw;
    border-radius: 2vw;
    cursor: pointer;
    transition: 0.5s;
}
.navegacao-auto {
    position: absolute;
    width: 35vw;
    margin-top: 18.62vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navegacao-auto div:not(:last-child) {
    margin-right: 1vw;
}

/* interacao dos inputs */
#radio1:checked ~ .ativo{
    transition: 0.5s;
    margin-left: 0;
}
#radio2:checked ~ .ativo{
    transition: 0.5s;
    margin-left: -25%;
}
#radio3:checked ~ .ativo{
    transition: 0.5s;
    margin-left: -50%;
}
#radio4:checked ~ .ativo{
    transition: 0.5s;
    margin-left: -75%;
}
#radio5:checked ~ .ativo{
    transition: 0.5s;
    margin-left: -100%;
}
#radio1:checked ~ .navegacao-auto .btn-auto1{
    background-color: white;
}
#radio2:checked ~ .navegacao-auto .btn-auto2{
    background-color: white;
}
#radio3:checked ~ .navegacao-auto .btn-auto3{
    background-color: white;
}
#radio4:checked ~ .navegacao-auto .btn-auto4{
    background-color: white;
}
#radio5:checked ~ .navegacao-auto .btn-auto5{
    background-color: white;
}


/* Conteúdo e Últimos Posts */
.conteudo {
    background-image: url(/public/assets/backgroundMitologia2Escuro.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0vw 2vw 1vw rgba(0, 0, 0, 0.2);

    text-align: left;
    padding: 4% 5%;
}

.ultimosPosts {
    display: flex;
    flex-direction: column;  
    text-align: left; 
    width: fit-content;
    gap: 1vh;
    .tituloUltimosPosts {
        font-size: 2vw;
    }
}

.posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5vw;
}

.postGrande 
{
    font-family: "Jost", sans-serif;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    #pgImg {
        background-image: url(/public/assets/placeholder.png);
        box-shadow: inset 0px 0px 100px rgba(0,0,20,1);
        width: 40vw;
        height: 50vh;
    }
    
    #pgTitulo {
        font-size: 2vw;
    }
}

.postsPequenos {
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.5vw;
    max-width: 100%;
    gap: 2vh;
    
    .pp1, .pp2, .pp3, .pp4 {
        display: flex;
        flex-direction: row;
        gap: 0.5vw;
    }

    #ppImg1, #ppImg2, #ppImg3, #ppImg4 {
        background-image: url(/public/assets/placeholder.png);
        box-shadow: inset 0px 0px 25px rgba(0,0,20,1);
        width: 20%;
        height: 13vh;
    }

    #ppTitulo1, #ppTitulo2, #ppTitulo3, #ppTitulo4 {
        width: 80%
    }
}

/* VERSÃO PARA CELULAR */
@media (max-width: 768px) {  

    /* Hero Section */
    .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 20% 15%;
        gap: 10vh;
    }

    .headline {
        #headlineTitulo1 {
            font-size: 7vw;
        }
        #headlineTitulo2 {
            font-size: 12.5vw;
        }
        #headlineTitulo3 {
            font-size: 13.5vw;
        }
        #headlineTitulo4 {
            font-size: 4vw;
        }
    }

    .destaques{
        font-size: 4vw;   
        gap: 0.5vh;
    }

    .carrosselDeDestaques {
        width: 85vw;
        height: 25vh;
    }
    
    /* Conteúdo e Últimos Posts */
    .conteudo {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10% 15%;
        box-shadow: inset 0vw 4vw 2vw rgba(0, 0, 0, 0.2);
    }
    
    .ultimosPosts {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;

        .tituloUltimosPosts {
            font-size: 4vw;
        }
    }

    .posts {
        flex-direction: column;
        gap: 2vh;
    }

    .postGrande {
        text-align: left;
        #pgImg {
            width: 85vw;
            height: 25vh;
        }
        
        #pgTitulo {
            font-size: 3.5vw;
        }
    }

    .postsPequenos{
        font-size: 3vw;
        .pp1, .pp2, .pp3, .pp4 {
            display: flex;
            flex-direction: row;
            gap: 2vw;
        }
    
        #ppImg1, #ppImg2, #ppImg3, #ppImg4 {
            width: 50%;
            height: 15vh;
        }
    
        #ppTitulo1, #ppTitulo2, #ppTitulo3, #ppTitulo4 {
            width: 50%
        }
    }

}

