* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/* Hero Section*/
.heroSection {
    background-image: url(/public/assets/backgroundMitologia1.jpg);
    background-size: cover;
    background-position: center;
    text-align: left;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20% 10%;
  }

.headline {
    max-height: auto;
    font-family: 'Junge', serif;
    text-align: center;
    #headlineTitulo1 {
        font-size: 2.5vw;
    }
    #headlineTitulo2 {
        font-size: 4.5vw;
    }
    #headlineTitulo3 {
        font-size: 5vw;
    }
    #headlineTitulo4 {
        font-size: 1.5vw;
    }
}

.destaques{
    font-family: 'Junge', serif;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.carrosselDeDestaques {
    background-image: url(/public/assets/placeholder.png);
    box-shadow: inset 0px 0px 100px rgba(0,0,20,1);
    display: table;
    width: 42vw;
    height: 40vh;
}

/* Conteúdo e Últimos Posts */
.conteudo {
    background-image: url(/public/assets/backgroundMitologia2Escuro.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0vw 2vw 1vw rgba(0, 0, 0, 0.2);

    text-align: left;
    padding: 4% 5%;
}

.ultimosPosts {
    display: flex;
    flex-direction: column;  
    text-align: left; 
    width: fit-content;
    gap: 1vh;
    .tituloUltimosPosts {
        font-size: 2vw;
    }
}

.posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5vw;
}

.postGrande 
{
    font-family: "Jost", sans-serif;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    #pgImg {
        background-image: url(/public/assets/placeholder.png);
        box-shadow: inset 0px 0px 100px rgba(0,0,20,1);
        width: 50vw;
        height: 45vh;
    }
    
    #pgTitulo {
        font-size: 2vw;
    }
}

.postsPequenos {
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.5vw;
    max-width: 100%;
    gap: 2vh;
    
    .pp1, .pp2, .pp3, .pp4 {
        display: flex;
        flex-direction: row;
        gap: 0.5vw;
    }

    #ppImg1, #ppImg2, #ppImg3, #ppImg4 {
        background-image: url(/public/assets/placeholder.png);
        box-shadow: inset 0px 0px 25px rgba(0,0,20,1);
        width: 12vw;
        height: 12vh;
    }

    #ppTitulo1, #ppTitulo2, #ppTitulo3, #ppTitulo4 {
        width: 75%
    }
}

/* VERSÃO PARA CELULAR */
@media (max-width: 768px) {  

    /* Hero Section */
    .heroSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 20% 15%;
        gap: 10vh;
    }

    .headline {
        #headlineTitulo1 {
            font-size: 7vw;
        }
        #headlineTitulo2 {
            font-size: 12.5vw;
        }
        #headlineTitulo3 {
            font-size: 13.5vw;
        }
        #headlineTitulo4 {
            font-size: 4vw;
        }
    }

    .destaques{
        font-size: 4vw;   
        gap: 0.5vh;
    }

    .carrosselDeDestaques {
        width: 85vw;
        height: 25vh;
    }
    
    /* Conteúdo e Últimos Posts */
    .conteudo {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10% 15%;
        box-shadow: inset 0vw 4vw 2vw rgba(0, 0, 0, 0.2);
    }
    
    .ultimosPosts {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;

        .tituloUltimosPosts {
            font-size: 4vw;
        }
    }

    .posts {
        flex-direction: column;
        gap: 2vh;
    }

    .postGrande {
        text-align: left;
        #pgImg {
            width: 85vw;
            height: 25vh;
        }
        
        #pgTitulo {
            font-size: 3.5vw;
        }
    }

    .postsPequenos{
        font-size: 3vw;
        .pp1, .pp2, .pp3, .pp4 {
            display: flex;
            flex-direction: row;
            gap: 2vw;
        }
    
        #ppImg1, #ppImg2, #ppImg3, #ppImg4 {
            width: 50%;
            height: 15vh;
        }
    
        #ppTitulo1, #ppTitulo2, #ppTitulo3, #ppTitulo4 {
            width: 50%
        }
    }

}


