:root{
    --cor-primaria: #224220;
    --cor-secundaria: #fff;
    --cor-terciaria: #000;
    --cor-quaternaria: #152518;
    --cor-quinta: #e0e0e0;
  }

html{
    font-size: calc(70% + 0.8vmin);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: calc(70% + 0.8vmin);
}

body{
    font-family: 'Junge',sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(/public/assets/fundo-crud-usuarios.jpg);
    background-size: cover;
    color: #D8DBD4;
    gap: 5%;
    padding-top: 2rem;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    width: 55vw;
}

.cabecalho h1{
    font-size: 2rem;
    font-weight: bold;
}
 
.tabela-usuarios{
    width: 55vw;
    max-height: 55vh;
    border-collapse: collapse;
    opacity: 80%;
    align-content: start;
    text-align: center;
    background-color: #234920;
    border-radius: 10px;
    border: 1px solid black;
}

.cabecalho-tabela{
    background-color: #224220;
}

.tabela-usuarios th{
    font-weight: 500;
    border-right: 1px solid black;
}

.tabela-usuarios th{
    padding: 0.5rem;
}
.tabela-usuarios td {
    padding: 1.0rem;
}


.usuario{
    font-weight: 300;
    background-color: rgba(23, 27, 22, 0.8);
    height: 100%;
}



.usuario tr{
    height: 10%;
}

thead tr{
    width: 10%;
}



.usuario:hover{
    background-color: var(--cor-quaternaria);
    cursor: default;
}



.cabecalho button{
    background-color: #224220;
    color: #D8DBD4;
    text-align: center;
    border: none;
    padding: 1rem;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.cabecalho button:hover{
    background-color:#305c2d;
}


.paginacao a{
    font-size: 1.1rem;
    padding: 0.2rem;
    color: #D8DBD4;
    cursor: pointer;
}

.btn-visualizar,
.btn-editar, .btn-excluir{
    font-size: 1.5rem;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #D8DBD4;
    padding: 0.2rem;
}

.btn-visualizar,
.btn-editar, .btn-excluir i{
    cursor: pointer;
}

.foto-usuario img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: var(--cor-quinta);
}   

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position:  fixed;
    top: 0;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(5px);
    display: none;
}

.modal-container{
    background-color: #D8DBD4;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
    max-width: 40%;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1rem;
    background-color: #D8DBD4;
    color: #152518;
    border-radius: 10px 10px 0 0;
    top: 0;
    padding-left: 7%;
    padding-right: 7%;
}

.modal-header i{
    font-size: 1.5rem;
    cursor: pointer;
}


.form-usuario{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    height: 100%;
    
    
}

.modal-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.modal-info label{
    font-size: 1.2rem;
    color: #152518;
    width: 70px;
}

.modal-info input{
    width: 80%;
    height: 1.5rem;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    font-size: 1.0rem;
    background-color: var(--cor-quinta);
    margin-left: 1rem;
    border: 1px solid #152518;
}

.botoes-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0 5%;
}

.botoes-modal .btn-criar{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-weight: 300;
    border: none;
    padding: 0.5rem 1.0rem;
    border-radius: 10px;
    font-size: 1.0rem;
    cursor: pointer;
}

.btn-cancelar{
    background-color: rgb(252, 46, 46);
    color: var(--cor-secundaria);
    font-weight: 300;
    border: none;
    padding: 0.5rem 1.0rem;
    border-radius: 10px;
    font-size: 1.0rem;
    cursor: pointer;
}

.btn-cancelar:hover{
    background-color: rgb(253, 68, 68);
}

.btn-criar:hover{
    background-color:#305c2d;
}

#foto-usuario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: fit-content;
    height: auto;
    padding: 1rem;
}

#foto-usuario input[type="file"]{
    display: none;
}

.btn-imagem{
    display: flex;
    align-items: center;
    background: radial-gradient(closest-side, #D6693A 0%, #A84B3A 100%);
    color: #D8DBD4;
    font-weight: 300;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1.0rem;
    cursor: pointer;
}
#modal-imagem-criar{
    flex-direction: column;
    align-items: center;
}

.img-preview{
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    display: none;
    margin-bottom: 1rem;
    margin:0
}

#modal-visualizar-usuario .botoes-modal{
    align-items: center;
    justify-content: center;
}

.img-visualizar{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    margin-bottom: 1rem;
    margin:0
}



#modal-excluir-usuario .btn-criar{
    background-color: rgb(177, 30, 30);
}

#modal-excluir-usuario .btn-criar:hover{
    background-color: rgb(206, 36, 36);
}


#modal-visualizar-usuario .botoes-modal{
    justify-content: center;
    align-items: center;
}

#olhov, #olhoc, #olhoe{
    color: gray;
}


.senha-olho{
    width: 80%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #152518;
    padding: 0 1rem 0 0;
    font-size: 1.5rem;
    background-color: var(--cor-quinta);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.2rem;
}

#img-preview-editar{
    display: block;
}

.senha-olho input{
    background: none;
    outline: none;
    border: none;
}
 #senhac,
 #senhav,
 #senhae{
    margin: 0;
 }

 .usuario-excluir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #152518;
}

#usuario-excluir-nome{
    font-weight: bold;
}

  .modal-container {
    width: 100%;
    position: absolute;
  }

  .form-usuario{
    padding-left: 2%;
    padding-right: 2%;
  }



  #modal-excluir-usuario .form-usuario{
    width: 100%;
  }
  
  #foto-usuario{
    width: 100%;
    height: 100%;
    
  }

  #foto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color:  #152518;
    font-size: 1rem;
    height: 100%;
  }

  @media screen and (max-width: 1700px) {
    .modal-container{
        width: 80%;
        max-width: 830px;
        margin-right: 10px;
        margin-left: 10px;
    }
    }
    
  @media screen and (max-width: 1360px) {
    .btn-imagem{
        font-size: 0.8rem;
    }
    
  }

  @media screen and (max-width: 1233px) {
    .container{
        overflow-y: auto;
        gap: 1rem;
        padding-top: 7rem;
    }
    .cabecalho{
        position: relative;
        padding: 0 2rem;
    }
    
    .cabecalho button{
        scale: 0.8;
    }

    .form-usuario{
        padding-left: 10%;
        padding-right: 10%;
    }


    .modal-container{
        width: 80%;
        max-width: 830px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    
  }

  @media screen and (max-width: 1000px) {
    .container{
        overflow-y: auto;
  }

  .cabecalho{
        padding-top: 15%;
  }
}

@media screen and (max-width: 933px) {
    .btn-imagem{
        font-size: 0.7rem;
    }
  }

  @media screen and (max-width: 885px) {
    .btn-imagem{
        font-size: 0.6rem;
    }
  }
  
@media screen and (max-width: 830px) {
    .container{
        overflow-x: hidden;
        overflow-y: auto;
    
    }
    .cabecalho{
        position: relative;
    }
    
    .cabecalho button{
        scale: 0.8;
    }

    .modal-container{
        width: 80%;
        max-width: 830px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px) {

    main{
    justify-content: space-around;
    }

    .tabela-responsiva {
        overflow-x: auto;
        width: 95%;
    }

    .tabela-responsiva table {
        min-width: 600px; 
    }

    .container{
        padding: 0;
        gap: 3rem;
    }
    
    .cabecalho{
        width: 100%;
    }
    
    .modal-info{
        flex-direction: column;
        align-items: start;
    }

    .modal-info input{
        margin-left: 0;
        width: 100%;
    }
    
    .senha-olho{
        margin-left: 0;
        width: 100%;
    }
    
    #foto-usuario{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .btn-imagem{
        width: 100%;
        justify-content: center;
        font-size: 0.8rem;
    }

    #modal-excluir-usuario h2{
        font-size: 1.2rem;
    }
    
}

@media only screen and (max-width:408px) {
    #modal-excluir-usuario h2{
        font-size: 1.0rem;
    }
} 


@media only screen and (max-width:334px) {

    .btn-imagem{
        font-size: 0.7rem;
    }

    #modal-excluir-usuario h2{
        font-size: 0.9rem;
    }
    
}

.none{
    display: none;
}

.icone-upload{
    font-size: small;
}

