html{
    font-size: calc(70% + 0.8vmin);
}
body{
    font-family: 'Junge',sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    font-weight: 500;
    font-size: 120%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 6vh;
    color: #D8DBD4;
    font-weight: medium;
    backdrop-filter: blur(10px);
}
.navbar-botao{
    display: none;
    cursor: pointer;
}
.barra{
    display: block;
    width: 100%;
    height: 20%;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #D8DBD4;
}
.navbar-cima{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo{
    display: flex;
    height: 10vh;
}
.navbar-links{
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    transition:  1s ease;
}

@media screen and (max-width: 700px) {
    header{
        flex-direction: column;
        gap: 10%;
        justify-content: center;
        padding: 1vh;
        height: 12vh;
    }
    header.active{
        height: 25vh;
    }
    body{
        margin-top: 12vh;
    }
    body.active{
        margin-top: 25vh;
    }
    .navbar-cima{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .navbar-logo{
        height: fit-content;
    }
    .navbar-botao{
        display: flex;
        width: fit-content;
        height: fit-content;
    }
    .bi-list{
        font-size: 2.5rem;
        align-items: end;
    }

    .navbar-links{
        display: none;
        pointer-events: none;
    }
    .navbar-links.active{
        gap: 1.5rem;
        display: flex;
        pointer-events: all;
        flex-direction: column;
    }

    #letreiro{
        width: 100px;
        height: 43px;
    }
}

.navbar-links li{
    list-style: none;
}

.navbar-links a{
    text-decoration: none;
    color: #D8DBD4;
}
/*Config simbolo de Menu*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*main de exemplo*/
main{
    margin-top: 12vh;/*permite Navbar ficar fixa no topo e evita overlay*/
    display: flex;
    flex-direction: column;
    background-color: #A84B3A;
}

