* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/* Hero Section*/
.heroSection {
    background-image: url(/public/assets/backgroundMitologia1.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid red;
    text-align: left;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20% 10%;
  }

.headline {
    max-height: auto;
    font-family: 'Junge', serif;
    text-align: center;
    #headlineTitulo1 {
        font-size: 2.5vw;
    }
    #headlineTitulo2 {
        font-size: 4.5vw;
    }
    #headlineTitulo3 {
        font-size: 5vw;
    }
    #headlineTitulo4 {
        font-size: 1.5vw;
    }
}
.destaques{
    font-family: 'Junge', serif;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    
}
.carrosselDeDestaques {
    background-image: url(/public/assets/placeholder.png);
    width: 42vw;
    height: 40vh;
    border: 1px solid white;
}

/* Conteído e Últimos Posts */
.conteudo {
    background-image: url(/public/assets/backgroundMitologia2Escuro.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(255, 251, 0);
    box-shadow: inset 0vw 2vw 1vw rgba(0, 0, 0, 0.2);

    text-align: left;
    padding: 4% 5%;
}

.ultimosPosts {
    display: flex;
    flex-direction: column;  
    text-align: left; 
    width: fit-content;
    gap: 1vh;
    .tituloUltimosPosts {
        font-size: 2vw;
    }
}

.posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5vw;
}

.postGrande 
{
    font-family: "Jost", sans-serif;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    #pgImg {
        background-image: url(/public/assets/placeholder.png);
        width: 50vw;
        height: 45vh;
        border: 1px solid white;
    }
    
    #pgTitulo {
        font-size: 2vw;
    }
}

.postsPequenos {
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.5vw;
    max-width: 100%;
    gap: 2vh;
    
    .pp1, .pp2, .pp3, .pp4 {
        display: flex;
        flex-direction: row;
        gap: 0.5vw;
    }

    #ppImg1, #ppImg2, #ppImg3, #ppImg4 {
        background-image: url(/public/assets/placeholder.png);
        width: 12vw;
        height: 12vh;
        border: 1px solid white;
    }

    #ppTitulo1, #ppTitulo2, #ppTitulo3, #ppTitulo4 {
        width: 75%
    }
}





