html{
    font-size: calc(70% + 0.8vmin);
}
body{
    font-family: 'Jost',sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url(/public/assets/fundo1.jpg);
}
.login-card{
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6%;
    gap: 6%;
    background-color: #F1FDF1;
    opacity: 60%;
}
.login-card-conteudo{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.campo{
    display: flex;
    flex-direction: column;
}
.input-texto{
    width: 200%;
}
.botao{
    display: flex;
    align-items: center;
    justify-content: center;
}

