* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

.heroSection {
    background-image: url(/public/assets/backgroundMitologia1.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid red;
    text-align: left;

    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
    padding: 20% 10%;
  }

.headline {
    font-family: 'Junge', serif;
    width: auto;
    text-align: center;
    #headlineTitulo1 {
        font-size: 2.5vw;
    }
    #headlineTitulo2 {
        font-size: 4.5vw;
    }
    #headlineTitulo3 {
        font-size: 5vw;
    }
    #headlineTitulo4 {
        font-size: 1.5vw;
    }
}
.destaques{
    font-family: 'Junge', serif;
    max-width: auto;
    font-size: 1.3vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    
}
.carrosselDeDestaques {
    max-width: auto;
    background-image: url(/public/assets/placeholder.png);
    width: 42vw;
    height: 40vh;
    border: 1px solid white;
}

/*
.conteudo {
    background-image: url(/public/assets/backgroundMitologia2.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(255, 251, 0);
    text-align: left;
}

.ultimosPosts {
    display: flex;
    flex-direction:column;  
    text-align: left; 
    width:fit-content;

    .tituloUltimosPosts {
        font-size: 1.5em;
    }
}

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.postGrande 
{
    max-width: 100%;
    #pgImg {
        background-image: url(/public/assets/placeholder.png);
        width: 45vw;
        height: 61vh;
        border: 1px solid white;
    }
    
    #pgTitulo {
        font-size: 1.8em;
    }
}

.postsPequenos {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.5em;
    max-width: 100%;
    
    .pp1, .pp2, .pp3, .pp4 {
        width: 35vw;
        display: flex;
        flex-direction: row;
    }

    #ppImg1, #ppImg2, #ppImg3, #ppImg4 {
        background-image: url(/public/assets/placeholder.png);
        width: 10vw;
        height: 15vh;
        border: 1px solid white;
    }

    #ppTitulo1, #ppTitulo2, #ppTitulo3, #ppTitulo4 {
        width: fill;
    }
}
*/




