html{
    font-size: calc(70% + 0.8vmin);
}

body{
    font-family: 'Junge',sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 10rem;
    height: auto;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    background-image:url(/public/assets/fundo3.jpeg);
    color: #D8DBD4;
}

.parte-cima{
    width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titulo{
    font-size: 2rem;
    font-weight: bold;
}

.botao-criar{
    font-size: 1rem;
    text-align: center; 
    border: none;
    cursor: pointer;
    background-color: #224220;
    color: #D8DBD4;
    border-radius: 30px;
    padding: 1rem;
}

.tabela-posts{
    width: 55vw;
    border-collapse: collapse;
    opacity: 80%;
    align-content: start;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
}

.tabela-head{
    background-color: #224220;
}

.tabela-posts th{
    font-weight: 500;
    border-right: 1px solid black;
}

.tabela-posts th,
.tabela-posts td {
    white-space: nowrap;       /* Impede que o texto quebre linha */
    overflow: hidden;          /* Esconde o conteúdo que ultrapassa o container */
    text-overflow: ellipsis;   /* Adiciona reticências ao final */
    max-width: 250px;  
    padding: 0.5rem;
}

.tabela-body{
    font-weight: 300;
    background-color: rgba(23, 27, 22, 0.8);
    height: min-content;
}

.tabela-body tr{
    height: 10%;
}

thead tr{
    width: 100%;
}


.botao-visualizar,
.botao-editar,
.botao-excluir{
    font-size: 1.5rem;
    text-align: center; 
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #D8DBD4;
    padding: 0.2rem;
} 

.paginas {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.paginas button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 0px 7px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
}

.paginas button:hover {
    background-color: rgba(0, 0, 0, 0.05); /* leve destaque ao passar o mouse */
    border-color: #999;
}

.paginas button.active {
    background-color: transparent;
    color: #fff;
    border-color: none;
}

.paginas button.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

/* Para esconder se total_pages <= 1 */
.paginas.none {
    display: none;
}


.modal{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position:  fixed;
    top: 0;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(5px);
    display: none;
}

.modal-container{
    background-color: #D8DBD4;
    z-index: 3;
    width: 50%;
    height: 85%;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    background-color: #D8DBD4;
    color: #152518;
    border-radius: 10px 10px 0 0;
    top: 0;
    padding-left: 29px;
}

.form-publicacao{
    justify-content: start;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    gap: 3rem;
}

.modal-info-2,
.modal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.3rem;
    width: 100%;
}

.modal-info-2 label,
.modal-info label{
    font-size: 0.9rem;
    color: #152518;
    width: 8rem;
}

.modal-info-2 input,
.modal-info input{
    width: 100%;
    height: 1rem;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    font-size: 0.7rem;
    background-color: #e0e0e0;
    border: 1px solid #152518;
}

.modal-info-2 label {
    width: max-content;
}
.modal-info-2 textarea{
    width: 100%;
    height: 6rem;
    font-size: 0.7rem;
    border-radius: 5px;
    padding: 1rem;
    border: none;
    background-color: #e0e0e0;
    border: 1px solid #152518;
}
.modal-container-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 2rem;
    overflow-y: auto;
}

#btn-fechar{
    font-size: 2rem;
    cursor: pointer;
}
.modal-side{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    width: 50%;
    height: auto;
    gap: 1rem;
}

#modal-side-right{
    align-items: end;
}
.modal-info-imagem input{
    display: none;
}
.modal-imagem input{
    display: none;
}
.modal-imagem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
.btn-imagem{
    display: flex;
    align-items: center;
    padding: 5px;
    width: fit-content;
    height: 3rem;
    text-align: center;
    background: radial-gradient(closest-side, #D6693A 0%, #A84B3A 100%);
    color: #D8DBD4;
    font-weight: 300;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    cursor: pointer;
}
#modal-imagem-criar{
    flex-direction: column;
    align-items: center;
}
#btn-input-imagem-criar{
    width: fit-content;
    height: auto;
}

.botoes-modal{
    position: relative;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: end;
    padding-left: 40px;
    padding-right: 40px;
    gap: 2rem;
    width: 100%;
    padding-top: 30px;
}

.botoes-modal .btn-criar{
    background-color: #224220;
    text-align: center;
    width: 4rem;
    height: 2.5rem;
    color: #D8DBD4;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    cursor: pointer;
}

.btn-cancelar{
    background-color: rgb(252, 46, 46);
    width: 4rem;
    height: 2.5rem;
    text-align: center;
    gap: 0;
    border: none;
    color: #D8DBD4;
    font-weight: 400;
    border-radius: 10px;
    font-size: 0.8rem;
    cursor: pointer;
}

.btn-cancelar:hover{
    background-color: rgb(253, 68, 68);
}

.btn-criar:hover{
    background-color:#305c2d;
}

#botoes-modal-excluir{
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    gap:1rem;
}
#modal-container-excluir-publicacao {
    height: auto;
}



#modal-container-excluir-publicacao .btn-criar{
    background-color: rgb(252, 46, 46);
}

#modal-container-excluir-publicacao .btn-criar:hover{
    background-color: rgb(253, 68, 68);
}

#modal-container-excluir-publicacao .btn-cancelar{
    background-color: #224220;
}

#modal-container-excluir-publicacao .btn-cancelar:hover{
    background-color: #305c2d;
}

#modal-container-excluir-publicacao .modal-header{
    font-size: 1.4rem;
}
#modal-container-excluir-publicacao .modal-body{
    padding-top: 1rem; 
    padding-bottom: 1rem;
    color:#152518;
    text-align: center;
}

@media screen and (max-width:1300px){
    #modal-curiosidades{
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px){
    .form-publicacao{
        padding: 1%;
    }
    .modal-container-content{
        flex-direction: column;
        padding: 0;
    }
    .modal-side{
        width: 80%;
        align-items: center;
    }
    .modal-info{
        flex-direction: column;
        text-align: center;
    }
    .modal-info-2{
        flex-direction: column;
    }
    .modal-imagem{
        flex-direction: column;
        justify-content: center;
    }
    .botoes-modal{
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 2rem;
    }
    #modal-excluir-publicacao .modal-container{
        width: 50%;
    }
}

@media screen and (max-width: 630px) {

    main{
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    
    .tabela-posts{
        overflow: auto;
        scale: 0.6;
    }
    .parte-cima{
        width: 100vw;
        padding-left: 5vw;
        padding-right: 5vw;
        justify-content: space-between;
    }

    .modal-container{
        width: 80%;
        max-width: 312px;
        gap: 0;
        padding-bottom: 0;
    }

    .modal-container-content{
        flex-direction: column;
        padding-inline: 15px;
        padding-bottom: 15px;
        padding-top: 60vh;
        align-items: center;
        gap: 13px;

    }

    .modal-info label{
        text-align: left;
    }

    .botoes-modal{
        padding: 13px;
    }
    
    .paginas button{
        font-size: 14px;
    }
}
