html{
    font-size: calc(70% + 0.8vmin);
}

body{
    font-family: 'Junge',sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    background-image:url(/public/assets/fundo1.jpg);
    color: #D8DBD4;
}

.tabela-posts{
    border: 1px black solid;
    width: 70vw;
    height: 60vh;
    border-collapse: collapse;
    
    align-content: start;
    text-align: center;
    background-color: #234920;
}
tbody{
    height: 100%;
}

.tabela-body{
    height: 100%;
}

.tabela-body tr{
    background-color: rgba(23, 27, 22, 0.8);
    height: 10%;
}

.tabela-posts th,
.tabela-posts td {
    padding: 0.5rem;
}

.tabela-posts th{
    border-right: 1px solid black;
}
thead tr{
    width: 100%;
}

.tabela-head{
    background-color: #224220;
}
tr:nth-child(4){
    gap: 5vh;
}
.crud{
    display: flex;
}
button{
    padding: 1% 2% 1% 2%;
    text-align: center;
    font-family: 'Junge',sans-serif;
    font-size: calc(60% + 0.8vmin);
    border: none;
    cursor: pointer;
    background-color: #A84B3A;
    color: #D8DBD4;
    border-radius: 16px;
}