<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/dashboard.css">
    <title>Dashboard Oracle</title>
</head>
<body>
    <section class="secao">
        <button class="pagina-de-posts">
            <img id="icone-posts" src="/public/assets/icon-post.png">
            <span>Posts</span> 
        </button>
        <button class="pagina-de-usuarios">
            <img id="icone-usuarios" src="/public/assets/icon-usuario.png">
            <span>Usuários</span>
        </button>
        <button class="logout">
            <img id="icone-logout" src="/public/assets/logout.png">
            <span>Logout</span>
        </button>
    </section>
    
</body>
</html>