<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Posts</title>

    <link rel="stylesheet" href="/public/css/tabela-de-posts.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Junge&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <table class="tabela-posts">
            <thead class="tabela-head">
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Data</th>
                    <th>Botões</th>
                </tr>
            </thead>
            <tbody class="tabela-body">
                <tr>
                    <td>001</td>
                    <td>Minotauro</td>
                    <td>Homero</td>
                    <td>08/05/2025</td>
                    <td>
                        <button type="button" class="botao-visualizar">Vizualizar</button>
                        <button type="button" class="botao-editar">Editar</button>
                        <button type="button" class="botao-editar">Excluir</button>
                    </td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Minotauro</td>
                    <td>Homero</td>
                    <td>08/05/2025</td>
                    <td>
                        <button type="button" class="botao-visualizar">Vizualizar</button>
                        <button type="button" class="botao-editar">Editar</button>
                        <button type="button" class="botao-editar">Excluir</button>
                    </td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Minotauro</td>
                    <td>Homero</td>
                    <td>08/05/2025</td>
                    <td>
                        <button type="button" class="botao-visualizar">Vizualizar</button>
                        <button type="button" class="botao-editar">Editar</button>
                        <button type="button" class="botao-editar">Excluir</button>
                    </td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Minotauro</td>
                    <td>Homero</td>
                    <td>08/05/2025</td>
                    <td>
                        <button type="button" class="botao-visualizar">Vizualizar</button>
                        <button type="button" class="botao-editar">Editar</button>
                        <button type="button" class="botao-editar">Excluir</button>
                    </td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Minotauro</td>
                    <td>Homero</td>
                    <td>08/05/2025</td>
                    <td>
                        <button type="button" class="botao-visualizar">Vizualizar</button>
                        <button type="button" class="botao-editar">Editar</button>
                        <button type="button" class="botao-editar">Excluir</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
        <div>
            <span>Paginação</span>
        </div>
    </main>
    <script src="/public/js/tabela-de-posts.js"></script>
</body>
</html>