<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Posts</title>

    <link rel="stylesheet" href="/public/css/tabela-de-posts.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Junge&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>
<body>
    <main>
        <div class="parte-cima">
            <div class="titulo">
                <span>Tabela de Posts</span>
            </div>
            <div>
                <button type="button" class="botao-criar">Criar Publicação</button>
            </div>
        </div>
        <table class="tabela-posts">
            <thead class="tabela-head">
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Data</th>
                    <th>Botões</th>
                </tr>
            </thead>
            <tbody class="tabela-body">
                <tr>
                    <td>001</td>
                    <td>Minotauro</td>
                    <td>Homero</td>
                    <td>08/05/2025</td>
                    <td>
                        <button type="button" class="botao-visualizar"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="botao-editar"><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="botao-excluir"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Minotauro</td>
                    <td>Homero</td>
                    <td>08/05/2025</td>
                    <td>
                        <button type="button" class="botao-visualizar"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="botao-editar"><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="botao-excluir"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Minotauro</td>
                    <td>Homero</td>
                    <td>08/05/2025</td>
                    <td>
                        <button type="button" class="botao-visualizar"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="botao-editar"><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="botao-excluir"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Minotauro</td>
                    <td>Homero</td>
                    <td>08/05/2025</td>
                    <td>
                        <button type="button" class="botao-visualizar"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="botao-editar"><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="botao-excluir"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Minotauro</td>
                    <td>Homero</td>
                    <td>08/05/2025</td>
                    <td>
                        <button type="button" class="botao-visualizar"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="botao-editar"><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="botao-excluir"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
                
            </tbody>
        </table>
        <div class="paginacao">
            <a href="#" class="pag-esquerda"><i class="bi bi-arrow-left-short"></i></a>
            <a href="#" class="pagina">1</a>
            <a href="#" class="pagina">2</a>
            <a href="#" class="pagina">3</a>
            <a href="#" class="pag-direita"><i class="bi bi-arrow-right-short"></i></a>
        </div>
        <div class="modal" id="modal-criar-publicacao">
            <div class="modal-cabecalho">
                <div class="titulo-modal"></div>
            </div>
            <div class="botoes-modal">
                <button class="modal-btn-criar"></button>
                <button class="modal-btn-cancelar"></button>
            </div>
        </div>
    </main>
    <script src="/public/js/tabela-de-posts.js"></script>
</body>
</html>