<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/dashboard.css">
    <title>Dashboard Oracle</title>
</head>
<body>
    <section class="barra-de-navegacao">
        <div class="imagem-admin"></div>
        <h1 class="nome-admin">Nome do Admin</h1>
        <button id="b1">Posts</button>
        <button id="b2">Usuários</button>
        <button id="b3">Página 3</button>
        <button id="logout">Logout</button>
    </section>
    
</body>
</html>