<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Oracle</title>
    <link rel="stylesheet" href="/public/css/footer.css">
    <script src="https://kit.fontawesome.com/753487264b.js" crossorigin="anonymous"></script>
    
    

</head>
<body>
    <div class="footer">
        <div class="container">
            <div class="missao-visao-e-valores">
               <a onclick="mostrarMissao('missao')"><h3>Missão</h3></a>
               <span id="missao">Compartilhar o fascínio das mitologias do mundo com curiosidade e respeito, oferecendo conteúdo acessível, informativo e envolvente para todos os públicos.</span>
               <a onclick="mostrarVisao('visao')"><h3>Visão</h3></a>
                <span id="visao">Ser referência entre os blogs de mitologia, promovendo conhecimento, reflexão e encantamento sobre as histórias e culturas que moldaram a humanidade.</span>
               <a onclick="mostrarValores('valores')"><h3>Valores</h3></a>
                <span id="valores">Respeito à diversidade cultural, compromisso com a pesquisa e a verdade, paixão pelo conhecimento e incentivo à imaginação e ao pensamento crítico.</span>
            </div>
            <div class="logo">
                <img src="/public/assets/logo (3).png" alt="Oracle Logo">
            </div>
            <div class="redes-sociais">
                <h3>Redes Sociais</h3>
                <div class="icons">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="direitos">
                    <img src="/public/assets/code-logo.png" alt="">
                    <p>© 2025 Code Jr. Todos os direitos reservados.</p>
                </div>

            </div>
        </div>
    </div>
</body>
<script src="/public/js/footer.js"></script>
</html>