<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Oracle</title>
    <link rel="stylesheet" href="/public/css/footer.css">
    <script src="https://kit.fontawesome.com/753487264b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="footer">
        <div class="container">
            <div class="missao-visao-e-valores">
               <a href=""><h3>Missão</h3></a>
               <a href=""><h3>Visão</h3></a>
               <a href=""><h3>Valores</h3></a>
            </div>
            <div class="logo">
                <img src="/public/assets/logo (3).png" alt="Oracle Logo">
            </div>
            <div class="redes-sociais">
                <h3>Redes Sociais</h3>
                <div class="icons">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="direitos">
                    <img src="/public/assets/code-logo.png" alt="">
                    <p>© 2025 Code Jr. Todos os direitos reservados.</p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>