<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <section class="heroSection">
        <div class="headline">
            <h2 id="headlineTitulo1">O ORACLE REVELA</h2>
            <h2 id="headlineTitulo2">TUDO SOBRE</h2>
            <h2 id="headlineTitulo3">MITOLOGIA</h2>
            <h3 id="headlineTitulo4">MITOS, DEUSES, RELÍQUIAS E HISTÓRIAS</h3>
        </div>
        <div class="destaques">
            <h3>DESTAQUES</h3>
            <div class="carrosselDeDestaques">
                
            </div>
        </div>
    </section>
    
    <main class="conteudo">
        <section class="ultimosPosts">
            <div class="postGrande">

            </div>
            <div class="postsPequenos">

            </div>
        </section>
    </main>
</body>
</html>