<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital...&family=Junge&display=optional" rel="stylesheet">
</head>
<body>
    <section class="heroSection">
        <div class="headline">
            <h2 id="headlineTitulo1">O ORACLE REVELA</h2>
            <h2 id="headlineTitulo2">TUDO SOBRE</h2>
            <h2 id="headlineTitulo3">MITOLOGIA</h2>
            <h3 id="headlineTitulo4">MITOS, DEUSES, RELÍQUIAS E HISTÓRIAS</h3>
        </div>
        <div class="destaques">
            <h3>DESTAQUES</h3>
            <div class="carrosselDeDestaques"></div>
        </div>
    </section>
    
    
    <main class="conteudo">
        <section class="ultimosPosts">
            <h3 class="tituloUltimosPosts">ÚLTIMOS POSTS</h3>
            <section class="posts">
                <div class="postGrande">
                    <div id="pgImg"></div>
                    <h4 id="pgTitulo">Título do post grande</h4>
                </div>
                <div class="postsPequenos">
                    <div class="pp1"> 
                        <div id="ppImg1"></div>
                        <h4 id="ppTitulo1">Lorem Ipsum Grecia Egito Japão Osíris Zeus Zagreu</h4>
                    </div>
                    <div class="pp2">
                        <div id="ppImg2"></div>
                        <h4 id="ppTitulo2">Título do post pequeno</h4>
                    </div>
                    <div class="pp3">
                        <div id="ppImg3"></div>
                        <h4 id="ppTitulo3">Título do post pequeno</h4>
                    </div>
                    <div class="pp4">
                        <div id="ppImg4"></div>
                        <h4 id="ppTitulo4">Título do post pequeno</h4>
                    </div>
                </div>
            </section>
        </section>
    </main>

</body>
</html>