<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oracle - Criaturas Mitológicas</title>
  <link rel="stylesheet" href="/Oracle-Trainee-2025.1/public/css/lista-posts.css">
  <script src="/Oracle-Trainee-2025.1/public/js/lista-posts.js" defer></script>


  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Junge&display=swap" rel="stylesheet">

</head>
<body>
  <header>
  </header>

  
  <section class="content">
    <div class="search-container">
      <input type="text" placeholder="Pesquisar">
      <button class="search-button">🔍</button>
    </div>
    <h2>Lista de Publicações</h2>
    <aside class="sidebar">
      <ul class="creature-list">
        <li><img src="/Oracle-Trainee-2025.1/public/assets/Gemini_Generated_Image_q9pb7sq9pb7sq9pb.jpg" alt="Fênix"> 
          <span class="creature-name">FÊNIX</span>
        </li>
        <li><img src="/Oracle-Trainee-2025.1/public/assets/Gemini_Generated_Image_xtn1juxtn1juxtn1.jpg" alt="Medusa">
          <span class="creature-name">MEDUSA</span>
        </li>
        <li><img src="/Oracle-Trainee-2025.1/public/assets/WhatsApp Image 2025-03-25 at 15.23.49 copy.jpeg" alt="Curupira"> 
          <span class="creature-name">CURUPIRA</span>
        </li>
        <li><img src="/Oracle-Trainee-2025.1/public/assets/Gemini_Generated_Image_tj2jwtj2jwtj2jwt.jpg" alt="Quimera"> 
          <span class="creature-name">QUIMERA</span>
        </li>
      </ul>  
      <div class="main-area">
        <article class="highlight">
          <img src="/Oracle-Trainee-2025.1/public/assets/Gemini_Generated_Image_phpd13phpd13phpd.jpg" alt="Minotauro">
          <div class="text">
            <button class="creature-button">MINOTAURO</button>
            <p>"O Minotauro era um ser com corpo de homem e cabeça de touro, habitante do labirinto de Creta."</p>
          </div>
        </article>
      </div>
    </aside>
      
    <div class="pagination">
      <button class="active">1</button>
      <button>2</button>
      <button>3</button>
      <button>4</button>
      <button>5</button>
    </div>
  </section>

</body>
</html>
