<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/lista-de-usuarios.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Junge&display=swap" rel="stylesheet">
    

    <script src="https://kit.fontawesome.com/753487264b.js" crossorigin="anonymous"></script>
    

    <title>Oracle - Lista de Usuarios</title>
</head>
<body>

    <div class="container">
        <div class="cabecalho">
            <h1>Lista de Usuários</h1>
            <button id="adicionar-usuario">Adicionar Usuário</button>
        </div>
        <table class="tabela-usuarios">
            <thead>
                <tr class="cabecalho-tabela">
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
                <tr class="usuario">
                    <td class="id-usuario">1</td>
                    <td class="nome-usuario">Joao</td>
                    <td class="email-usuario">jvictorangel45@gmail.com</td>
                    <td class="acoes-usuario">
                        <button class="btn-visualizar">Visualizar</button>
                        <button class="btn-editar">Editar</button>
                        <button class="btn-excluir">Excluir</button>
                    </td>
                </tr>
                <tr class="usuario">
                    <td class="id-usuario">2</td>
                    <td class="nome-usuario">Joao</td>
                    <td class="email-usuario">jvictorangel45@gmail.com</td>
                    <td class="acoes-usuario">
                        <button class="btn-visualizar">Visualizar</button>
                        <button class="btn-editar">Editar</button>
                        <button class="btn-excluir">Excluir</button>
                    </td>
                </tr>
                <tr class="usuario">
                    <td class="id-usuario">3</td>
                    <td class="nome-usuario">Joao</td>
                    <td class="email-usuario">jvictorangel45@gmail.com</td>
                    <td class="acoes-usuario">
                        <button class="btn-visualizar">Visualizar</button>
                        <button class="btn-editar">Editar</button>
                        <button class="btn-excluir">Excluir</button>
                    </td>
                </tr>
                <tr class="usuario">
                    <td class="id-usuario">4</td>
                    <td class="nome-usuario">Joao</td>
                    <td class="email-usuario">jvictorangel45@gmail.com</td>
                    <td class="acoes-usuario">
                        <button class="btn-visualizar">Visualizar</button>
                        <button class="btn-editar">Editar</button>
                        <button class="btn-excluir">Excluir</button>
                    </td>
                </tr>
                <tr class="usuario">
                    <td class="id-usuario">5</td>
                    <td class="nome-usuario">Joao</td>
                    <td class="email-usuario">jvictorangel45@gmail.com</td>
                    <td class="acoes-usuario">
                        <button class="btn-visualizar">Visualizar</button>
                        <button class="btn-editar">Editar</button>
                        <button class="btn-excluir">Excluir</button>
                    </td>
                </tr>
            </thead>
        </table>
        <div class="paginacao">
            <a href="" class="btn-pagina" class="pagina-anterior"><i class="fa-solid fa-arrow-left"></i></a>
            <a href="" class="numero-pagina">1</a>
            <a href="" class="numero-pagina">2</a>
            <a href="" class="numero-pagina">3</a>
            <a href="" class="btn-pagina" class="pagina-proxima"><i class="fa-solid fa-arrow-right"></i></a>
    </div>
    
</body>
<script src="/public/js/lista-de-usuarios.js"></script>
</html>