<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link rel="stylesheet" href="/public/css/stylesLogin.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<body>
    <main>
        <div class="login-card">
            <div class="login-card-logo">
                <img height="350vh" width="350vw" src="/public/assets/medusa.png" alt="Logo">
            </div>
            <div class="login-card-conteudo">
                    <div id="Email" class="campo">
                        <span>E-mail</span>
                        <input class="input-texto" type="text" name="" id="">
                    </div>
                    <div id="Senha" class="campo">
                        <span>Senha</span>
                        <input class="input-texto" type="text" name="" id="">
                    </div>
                    <div class="botao">
                        <input type="button" value="Login">
                    </div>
            </div>
        </div>
    </main>
</body>
</html>