<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link rel="stylesheet" href="/public/css/stylesLogin.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Junge&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<body>
    <main>
        <div class="login-card">
            <div class="login-card-logo">
                <img width="100%" height="100%" src="/public/assets/medusa.png" alt="Logo">
            </div>
            <div class="login-card-conteudo">
                    <div id="email" class="campo-text-input">
                        <span>E-mail</span>
                        <input placeholder="seuemail@gmail.com" class="input-texto" type="text" name="" id="">
                    </div>
                    <div id="senha" class="campo-text-input">
                        <span>Senha</span>
                        <input placeholder="***********" class="input-texto" type="text" name="" id="">
                    </div>
                    <div class="campo-botao">
                        <button class="botao" type="button"> Login</button>
                    </div>
            </div>
        </div>
    </main>
</body>
</html>