<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>

    <link rel="stylesheet" href="/public/css/stylesNavbar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="navbar-logo">
            <img width="180" height="77" src="/public/assets/letreiro.png" alt="Letreiro">
        </div>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/">Publicações</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </header>
    <main>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, praesentium veritatis in accusamus possimus pariatur recusandae unde laudantium officia non quibusdam perferendis adipisci incidunt. Eveniet iste dignissimos odio veritatis autem.</p>
        </div>
    </main>
</body>
</html>