<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post - Oracle</title>
    <link rel="stylesheet" href="/public/css/postIndividual.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Junge&display=swap" rel="stylesheet">

</head>
<body>

    <div class="background">
        <div class="container">
            <div class="cabecalho">
                <div class="usuario">
                    <img src="/public/assets/medusa (1).png" alt="Foto do usuario">
                    <h3 class="nome-do-usuario">Autor</h3>
                </div>
                <div class="origem"><button id="botao">Origem: Mitologia Grega</button></div>
            </div>
            <div class="post">
                <div class="coracao">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Gowy-icaro-prado.jpg" alt="Queda.png" class="icaro">
                    <h1 class="titulo">A queda de Ícaro.</h1>
                </div>
                <div class="conteudo-do-post">
                    <div class="topicos">
                        <h5>Historia:</h5>
                        <span>Ícaro era filho do inventor Dédalo, que construiu asas feitas de penas e cera para escapar do Labirinto de Creta, onde estavam presos. Antes de partirem, Dédalo advertiu Ícaro para não voar muito alto, pois o calor do sol derreteria a cera. Tomado pelo entusiasmo do voo, Ícaro ignorou o aviso e subiu alto demais. O calor do sol derreteu suas asas, e ele caiu no mar, morrendo afogado.</span>
                    </div>
                    <div class="topicos">
                        <h5>Curiosidades:</h5>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit inventore cum deleniti, nobis eum atque modi, soluta natus quidem blanditiis assumenda! Reiciendis beatae laboriosam itaque repellat cum quo eaque odit?</span>
                    </div>
                    <div class="topicos">
                        <h5>Lições e ensinamentos:</h5>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit inventore cum deleniti, nobis eum atque modi, soluta natus quidem blanditiis assumenda! Reiciendis beatae laboriosam itaque repellat cum quo eaque odit?</span>
                    </div>
                    <div class="topicos">
                        <span id="fonte">Fonte: Metamorfoses, de Ovídio, Biblioteca, de Apolodoro</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</body>
</html>